.custom-button {
    padding: 16px 40px;
    border-radius: $rounded;
    background-image: url(img/aurora-button.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 20px 32px -40px $main-color;
    transition: $main-transition;

    &::before {
        content: "";
        position: absolute;
        inset: 4px;
        background-color: $light-color1;
        border-radius: inherit;
        z-index: 1;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        opacity: 0;
        transition: $main-transition;
    }

    .hover-effect {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 0 40px;
        width: 100%;
        height: auto;
        opacity: 0;
        transition: $main-transition;
        color: $main-color;
        background-image: url(img/aurora-button.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }

    &:hover {
        &::before {
            opacity: 1;
        }

        .hover-effect {
            opacity: 1;
        }
    }

    &:focus {
        outline: none;
        box-shadow: 0px 20px 32px -12px $main-color;
    }
}
