.stage-padding {
    padding: 40px 0;

    @include for-size(tablet-portrait-up) {
        padding: 40px 20px;
    }

    @include for-size(small-tablet-medium) {
        padding: 40px;
    }

    @include for-size(tablet-landscape-up) {
        padding: 80px 40px;
    }

    @include for-size(desktop-up) {
        padding: 120px 80px;
    }
}

.effect-section-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    &-mobile {
        display: block;

        @include for-size(big-tablet-medium) {
            display: none;
        }
    }

    &-desktop {
        display: none;

        @include for-size(big-tablet-medium) {
            display: block;
        }
    }
}

.between {
    display: flex;
    justify-content: space-between;
}

.margin-bottom-24 {
    margin-bottom: 24px;
}