// Colors
$main-color: #fc5a8f;

$cacau-color-bg: #d9c9ba;
$cacau-color-text: #50261a;

$dark-color1: #1e1e1e;

$light-color1: #ffffff;
$light-color2: #f9f9f9;

$other-color1: #111111;

$border-color: rgba($dark-color1, 0.15);

// Fonts
$main-titles: "Playfair Display", serif;
$effect-titles: "Bodoni Moda", serif;
$main-text: "Comfortaa", sans-serif;

//Fonts Sizes
$xsmall-font-size: 16px;
$small-font-size: 20px;
$medium-font-size: 24px;
$xxlarge-font-size: (
    small: 60px,
    medium: 80px,
    large: 100px
);

// Others
$main-transition: 0.3s;
$main-soft-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.25);

// Radius
$xsmall-border-radius: 4px;
$small-border-radius: 8px;
$medium-border-radius: 12px;
$large-border-radius: 20px;
$rounded: 999px;
