.about {
    &-content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .custom-button {
            width: fit-content;
        }
    }

    &-loccitane {
        height: 66px;
        width: auto;

        img {
            height: inherit;
            width: auto;
            object-fit: contain;
        }
    }

    &-images-box {
        display: flex;
    }

    &-images {
        position: relative;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 12px;
        flex: 1;

        &-grid-item {
            &-1,
            &-2,
            &-3 {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: $large-border-radius;
                }
            }

            &-1 {
                grid-column: 1 / 4;
                grid-row: 1 / 2;
            }

            &-2 {
                grid-column: 4 / 7;
                grid-row: 1 / 2;
            }

            &-3 {
                grid-column: 2 / 7;
                grid-row: 2 / 3;
            }
        }
    }

    &-symbol {
        position: absolute;
        width: 160px;
        height: 160px;
        top: 60%;
        left: -16px;
        transform: translateY(-50%) rotate(-24deg);

        @include for-size(small-tablet-medium) {
            width: 240px;
            height: 240px;
            top: 48%;
            left: -50px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
