.cacau-show {
    position: relative;
    background-color: $cacau-color-bg;
    overflow: hidden;
    padding-bottom: 280px;

    @include for-size(big-tablet-medium) {
        padding-bottom: 380px;
    }

    @include for-size(tablet-landscape-up) {
        padding-bottom: 200px;
    }

    &-content {
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .main-text {
            color: $cacau-color-text;
        }
    }

    &-logo {
        width: 100%;
        max-height: 92px;
        margin-bottom: 40px;

        @include for-size(tablet-landscape-up) {
            margin-bottom: 80px;
        }

        img {
            width: 100%;
            max-height: 92px;
            object-fit: contain;
        }
    }

    &-trufas {
        &-left,
        &-right {
            position: absolute;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;

                @include for-size(tablet-landscape-up) {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &-right {
            display: none;
            width: 72%;
            right: -2%;
            bottom: -18%;
            z-index: 0;

            @include for-size(big-tablet-medium) {
                display: block;
                transform: rotate(56deg);
            }

            @include for-size(tablet-landscape-up) {
                transform: rotate(0);
                width: 40%;
                max-height: 100%;
                height: 100%;
                right: 0;
                bottom: 0;

                img {
                    object-position: left center;
                }
            }
        }

        &-left {
            width: 150%;
            max-height: 400px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) rotate(-45deg);
            z-index: 1;

            @include for-size(small-tablet-medium) {
                width: 100%;
                transform: translateX(-50%) rotate(-69deg);
            }

            @include for-size(big-tablet-medium) {
                width: 72%;
                bottom: 60px;
                left: 0;
                transform: translateX(0) rotate(0);
            }

            @include for-size(tablet-landscape-up) {
                width: 40%;
                max-height: 100%;
                height: 100%;
                left: 0;
                bottom: 0;

                img {
                    object-position: right center;
                }
            }
        }
    }
}
