.header {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    z-index: 9;

    &-navbar {
        &-box {
            position: relative;
            background-image: linear-gradient(
                90deg,
                rgba($other-color1, 0.3) 0%,
                rgba($other-color1, 0.15) 50%,
                rgba($other-color1, 0.3) 100%
            );
            padding: 8px 16px;
            border-radius: $small-border-radius;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 24px;
            align-items: center;
            justify-content: center;
            -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
            border: 1px solid rgba($other-color1, 0.2);

            @include for-size(big-tablet-medium) {
                padding: 16px 24px;
                justify-content: space-between;
                flex-direction: row;
            }
        }

        &-logo {
            height: 40px;
            width: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-items {
            position: relative;
            display: flex;
            align-items: center;
            list-style: none;
            gap: 24px;
            margin: 0;
            padding: 0;

            a {
                text-decoration: none;

                &:focus {
                    outline: none;
                }
            }

            .active-effect {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                border-radius: $small-border-radius;
                background-color: transparent;
                transition: $main-transition;
            }
        }
    }
}
