.other-products {
    &-column {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &-button {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
}